.add_container{
    padding: 10px 8px;
}

.add_button {
    border: 1px solid transparent;
    border-radius: 10px;
    min-width: 70px;
    padding: 5px 10px;
    background-color: rgb(77, 218, 59);
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.add_button:hover {
    background-color: orange;
     transition: 500ms;
     transform: scale(1.1);
     color: #fff;
}